.lights-info{
  font-size: .9em;
  letter-spacing: 2px;

}
.lights-info > p {
  line-height: .5;
}
.lights-info > ul{
  list-style-type: none;
  padding: 0px;
  display: inline-block;
}

.lights-info > ul > li {
  font-weight: bold;
  line-height: 1;
}
